*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.template{
    width: 470px;   
    background: linear-gradient(135deg, #00feba,#5b548a);    
    margin: 50px auto 0; 
    border-radius: 10px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.search input{
    border: none;
    outline: 0;
    padding: 10px 20px;
    color: #555;
    border-radius: 30px 0px 0px 30px;/*top-left corner,top-right corner,bottom-right corner,bottom-left corner*/
    font-size: 15px;
    flex: 1;  
}
.search button{
    border: none;
    outline: 0;
    border-radius: 0px 30px 30px 0px;
    font-size: 20px;
    background-color: #bcf0f0;
    width: 60px;
    height: 38px;
    cursor: pointer;
}
.weather-icon{
    width: 200px;
    margin-top: 5px;
}
.weather h1{
    font-size: 70px;
    font-weight: 500;
}
.city{
    font-size: 16px;
    font-weight: 400;
    margin-top: 10%;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
    font-size: 13px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col i{
    font-size: 30px;
    margin-right: 9px;
}
.weather{
    display: none;
}
.error{
    text-align: center;
    margin-left: 10px;
    font-size: 20px;
    margin-top: 25px;
    display: none;
}
.details2{
    background-color: rgba(255, 255, 255, 0.3);
    padding: 5px 25px;
    border-radius: 5px;
    margin-top: 8%;
    font-size: 13px;
    
}
.details2 div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;  
}  

@media screen and (max-width: 600px)  {
    .weather{
        margin-top: 15%;
    }
    .city{
        font-size: 20px;
    }
    .weather-icon{
        width: 300px;
    }
    .weather h1{
        font-size: 90px;
    }
    .details, .details2{
        font-size: 16px;
    }
}